.highlight-1,
.highlight-yellow {
    color: rgb(255, 170, 0);
}
.highlight-2,
.highlight-blue {    
    color: rgb(0, 170, 255);
}
.highlight-3,
.highlight-purple {    
    color: rgb(128, 85, 196);
} 
.highlight-4,
.highlight-pink {    
    color: rgb(255, 0, 136);
}
.highlight-5,
.highlight-orange {
    color: rgb(249, 145, 87);
}
.highlight-6,
.highlight-green {
    color: #2fd15a;
}
.font-xlarge {
    font-size: x-large
}
.table-data-align-center tbody tr td {
    text-align: center;
}
.console-commands {
    white-space: pre-line;
}

a.learn-more {
    color: rgb(170, 255, 0);
}
a.learn-more:hover {
    color: rgb(170, 255, 0);
    border-bottom: dotted 1px rgb(170, 255, 0);
}